
:root {
    --beje: #fff8e9;
    --monarch: #8B0723;
    --fuscous-gray: #54534D;
    --Cyan: #00bcd4;
    --Sky-Blue: #ecf0f1;
    --Deep_Teal: #e9c8b6;
    --Navy_Blue: #001f3f;
    --background-color:  #f7f4ef;
      --primary-color: #0A4158;
  --secondary-color: #4B8378;
  --success-color: #E4D7D0;
  --danger-color: #FF9636;
  --warning-color: #D37506;
  --info-color: #ADA7A7;
  --light-color: #F2F2F2;


}

body {
  background-color: var(--background-color);
}


/* Navbar styling */
.navbar {
  border-bottom: 0px solid var(--monarch);
  /*background-color: var(--beje);*/


}

.navbar-logo img {
max-width: 150px;
height: auto;
}

.custom-nav-link, .dropdown-toggle {

  border: var(--beje);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
  border: 2px solid transparent;
  border-color: var(--monarch); /*inactive links for all not just dropdown*/


}

.custom-nav-link > a, .dropdown-toggle > a {
  color: var(--primary-color) !important;
  border: var(--primary-color);
  border-color: var(--primary-color);

}


.custom-nav-link:hover, .dropdown-toggle:hover {
  background-color: var(--Sky-Blue);
  text-decoration: none;
}

.custom-nav-link.active, .dropdown-toggle.active {
  background-color: var(--fuscous-gray);
  color: var(--beje) !important;
  border-color: var(--monarch);
}

/* Add this rule to change the text color of the active dropdown toggle */
.dropdown-toggle.active, .dropdown-item.active{
  background-color: var(--fuscous-gray);
  color: var(--monarch) !important;
  border-color: var(--monarch);
}




body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
}

.page-container {
  flex: 1; /* This will push the footer to the bottom */
}


/* This is vertical line for navigation */
.nav-wrapper {
  position: sticky;/* Add this rule to make the nav stay on top */
  top: 0;
  height: 100%;
  width: 100%;
  border-right: 0px solid var(--monarch);
  font-family: 'Paytone One', sans-serif;/* Add this rule to change the font */
  min-height: calc(100vh - 100px); /* 100px is the height of the footer */

}


.nav {
  /*background-color: var(--light-color);*/
  padding-top: 30%;
    height: 100%;
  width: 100%;

}

.nav-link {
  color: var(--primary-color) !important;
}




.nav-item.active .nav-link {
  background-color: var(--monarch);
  color: var(--beje) !important;
  border-color: var(--monarch);
}




@media (max-width: 580px) {
  .nav-wrapper {
    height: auto;
    min-height: 0;
    width: 100%;
  }
    .nav {
    padding-top: 0;
    }
    .navbar-brand {
  color: var(--danger-color) !important;
  font-weight: bold;
  font-size: 25px;
  padding-left: 50px;}
}

@media (max-width: 800px) {
  .nav-wrapper {
    height: auto;
    min-height: 0;
    width: auto;
  }
    .nav {
    padding-top: 0;
    }

    .navbar-brand {
  color: var(--danger-color) !important;
  font-weight: bold;
  font-size: 25px;
  padding-left: 50px;

}

}

@media (min-width: 992px) { /* Desktop */
    .nav-wrapper{
        width: auto;
    }
    .navbar-brand {
  color: var(--danger-color) !important;
  font-weight: bold;
  font-size: 25px;
  padding-left: 50px;

}


}


.footer {
  border-top: 0px solid var(--monarch);
}



/*colors for selected link*/
.navbar-brand {
  color: var(--danger-color) !important;
  font-weight: bold;
  font-size: 25px;
  padding-left: 380px;

}
/*colors for selected link*/


.navbar-logo {
  width: 50px;
  height: 50px;

  padding-left: 10px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

/* Sticky sidebar */


.col-md-10 {
    /*box-shadow: inset 0 0 20px var(--info-color);*/
}

.nav.flex-column {
    box-shadow: inset 0 0 0 px var(--monarch);
    width: 100%;
    font-family: Merriweather, serif;
}
.v_nav {
    color: var(--fuscous-gray) !important;
    background-color: transparent !important;
}

.v_nav:hover {
    color: var(--monarch) !important;
    text-decoration: none;
}

.v_nav.active {
  font-weight: bold;
  color: var(--danger-color) !important;
  background-color: var(--light-color) !important;
  border-bottom: 2px solid var(--danger-color) !important;
}

/*colors for login and Upload */
.btn-portal {

  border-color: var(--monarch) !important;
  color: var(--monarch) !important;
  box-shadow: inset 0 0 20px var(--fuscous-gray);
  font-family: 'Paytone One', sans-serif;
}

#dropzone {
  width: 100%;
  height: 200px;
  border: 2px dashed #999;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}




.user-indicator {
    position: absolute;
    top: 10px;
    right: 10px;

}